<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE A NEW POST</title>
</head>
<body>
    <h1>ENTER YOUR DETAIL TO CREATE A NEW POST</h1>
    <form method="post" action="/posts">
        <input type="text" placeholder="enter username" name="name" >
        <textarea placeholder="content" name="content">write your content</textarea>
        <input type="number" placeholder="enter your followers count" name="followers">
        <input type="number" placeholder="enter your following count" name="following">
        <button>Click me to submit !</button>
    </form>
</body>
</html>